<nav class="navbar navbar-expand-sm navbar-light  mb-2" style="background-color: #FDFDFE;">
    <div class="container">
        <a href="#" class="navbar-brand h3">LW_Prime</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav " >
                <li class="nav-item">
                    <a href="/" class="nav-link index_index" >首页</a>
                </li>
                <li class="nav-item">
                    <a href="/show/js" class="nav-link show_js">计算</a>
                </li>
                <li class="nav-item">
                    <a href="/show" class="nav-link show_index">总</a>
                </li>
                <li class="nav-item">
                    <a href="/show/year?year={{year}}" class="nav-link show_year">年</a>
                </li>
                <li class="nav-item">
                    <a href="/show/month?year={{year}}&month={{month}}" class="nav-link show_month">月</a>
                </li>
                <li class="nav-item ">
                    <a href="/show/day?year={{year}}&month={{month}}&day={{day}}" class="nav-link show_day">日</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>